<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Vandalos Skatebording</h3>
                    <p>slogan.</p>

                    <ul class="list-unstyled social-icon">
                        <li><a href="#" rel="tooltip" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>
                        <li><a href="#" rel="tooltip" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
                        <li><a href="#" rel="tooltip" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
                        <li><a href="#" rel="tooltip" title="Instagram" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
                        <li><a href="#" rel="tooltip" title="Instagram" class="icon-instagram"><span><i class="fa fa-instagram"></i></span></a></li>
                    </ul>

                    <div class="sitemap">
                        <ul>
                            <li><a href="index">HOME</a></li>
                            <li><a href="about">ABOUT</a></li>
                            <li><a href="profile">PROFILE</a></li>
                            <li><a href="contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- begin:copyright -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small>Powered by Idra Soft S.A. de C.V 2014 </small>
            </div>
        </div>
    </div>
</div>
<!-- end:copyright -->